<!DOCTYPE html>
<html>
    <head>

    </head>
    {{>header}}
    <body>
        
        <p>404 Page Not found {{ message }}</p>
        <div>
            
        </div>
    </body>
   
    <footer>
        {{>footer}}
    </footer>
</html>