<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>
    {{>header}}
    <body>
        <div class="main-content">
        <h2>About my app</h2>
        <img class="potrait" src='/img/Loka_1.png'>
        </div>
    </body>

    {{>footer}}

</html>